<!doctype html>
<html>
  <head>
    <title>About <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <!-- R2: About page -->
    <h1>About <%=shopName%></h1>
    <p><a href="/">Home</a></p>
    <!-- R2A: Information about the web application including developer's name -->
    <p>Find out more about your food's ingredients!</p>
    <p>Developer: Md Feroze Perveze</p>    
  </body>
</html>