<!doctype html>
<html>
  <head>
    <title>Welcome to <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <!-- R1: Home page -->
    <!-- R1A: Name of the web application -->
    <h1>Welcome to <%=shopName%></h1>
    <!-- R1B: Links to other pages -->
    <p><a href="about">About <%=shopName%></a></p>
    <p><a href="register">Register with us</a></p>
    <p><a href="login">Login here</a></p>
    <p><a href="logout">Logout here</a></p>
    <p><a href="addfood">Add food</a></p>
    <p><a href="searchfood">Search food</a></p>
    <p><a href="updatefood">Update food</a></p>
    <p><a href="listfood">List food</a></p>
    <p><a href="api">Food Item API</a></p>
    <p><a href="apisearch">Food Item API Search</a></p>
  </body>
</html>
